syntax: glob
*/target/**
*/lib
*/classes
*/checkouts
pom.xml
pom.xml.asc
*.class
.projectile
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*/.boot
*/target
000019.log
custom-river-db/MANIFEST-000004
custom-river-db/LOG.old
custom-river-db/LOG
custom-river-db/LOCK
custom-river-db/CURRENT
custom-river-db/000005.log
tencent-event.json
target/stale/extract-native.dependencies
src/af_river/utils/special_intg.clj.orig
src/af_river/schema.clj.orig
src/af_river/lookup.clj.orig
src/af_river/forwarder.clj.orig
src/af_river/domain/apps.clj.orig
src/af_river/core.clj.orig
src/af_river/context_resolver.clj.orig
src/af_river/api/http.clj.orig
settings-docker/MANIFEST-000006
settings-docker/LOG.old
settings-docker/LOG
settings-docker/LOCK
settings-docker/CURRENT
settings-docker/000007.log
project.clj.orig
newrelic-java-3.10.0.zip
matches-reattr-borg.clj
matches-artyom.txt
localhost/MANIFEST-000002
localhost/LOG.old
localhost/LOG
localhost/LOCK
localhost/CURRENT
localhost/000003.log
intg_sample.json
intg_sample.clj
inappevents-reatarget.clj~
dev/user.clj.orig
com.soundcloud.android_installs_2015-03-08_2015-03-08_CRGUS.csv
MANIFEST-000018
LOG.old
LOG
LOCK
CURRENT
.idea
*/.idea
src/main/resources/configuration-dev.json
custom-river.iml
target/*
configuration-dev.json.bkp
.nrepl-port
*.iml
